language: node_js

node_js:
  - "0.8"
  - "0.10"
  - "0.11"

matrix:
  allow_failures:
    - node_js: "0.8"

branches:
  except:
    - gh-pages

script:
    - npm test --cover

before_install:
  - if [[ `node --version` == *v0.8* ]]; then npm install -g npm; fi


